@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}


.user-list thead tr {
  background-color: #0044cc; 
  color: white;
}

.user-list tbody tr {
  border-bottom: 1px solid #ddd;
}

.user-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.user-list th, .user-list td {
  padding: 12px 15px;
  text-align: left;
}


.user-list {
  margin: 2rem auto;
  max-width: 800px;
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 5px #00000033;
  
}

.ulh2 {
  text-align: center;
  margin: 1rem 0;
}

.user-list th,
.user-list td {
  text-align: left;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
}

.user-list th {
  background-color: #4c74af;
  color: white;
}

.user-list tr:hover {
  background-color: #f5f5f5;
}

.user-list .delete-button {
  display: inline-block;
  background-color: #f44336;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  padding: 0;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.user-list .delete-button:hover {
  background-color: #d32f2f;
}

.user-list .delete-button:before {
  content: "×"; 
}


.add-user-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px #00000033;
}

.add-user-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.add-user-container form {
  display: grid;
  grid-gap: 1rem;
}

.add-user-container label {
  font-size: 0.9rem;
  color: #666;
}

.add-user-container input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-user-container button[type="submit"] {
  font-size: 1rem;
  color: white;
  background-color: #4c74af;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-user-container button[type="submit"]:hover {
  background-color: #1f57ab;
}



// NEW

.single-site-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.site-card-container {
  max-width: 700px;
  height: 470px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px #00000033;
}

.site-card-details {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.site-image {
  max-width: 700px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px #00000033;
}

.siteImage img {
  width: 700px
  
}


.home-container {
    max-width: 700px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px #00000033;
    margin: 100px auto;
  }

  .home-container p {
    font-size: 1.5rem;
    color: #5e93de;
    font-weight: bold;
    padding: 2.5rem 2rem;
    
  }

  .app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-container ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .nav-container li {
    margin: 0;
    list-style: none;
  }
  
  .nav-link {
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: background-color 0.3s; 
  }
  
  .nav-link:hover, .nav-link:focus {
    background-color: #5e93de;
    color: #fff; 
  }
  
  .nav-link.active {
    background-color: #5e93de;
    color: #fff;
  }

  .sign-in {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem; 
    background-color: #4c74af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-in:hover, .sign-in:focus {
    background-color: #1f57ab;
  }

  .user-greeting {
    font-size: 1rem;
    color: #5e93de;
    margin-left: 1rem;
    align-self: center; 
  }


  .address-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .address-container h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .address-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .address-input:focus {
    outline: none;
    border-color: #5e93de;
    box-shadow: 0 0 0 2px #5e93de80;
  }
  

  .address-result {
    font-size: 1.3rem;
   font-weight:  bold;
  }
  